@use '~@kyndryl-design-system/shidoka-foundation/scss/root.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/utility/index.scss';

.category-name {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

kd-card {
  width: 180px;
  height: 180px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  height: 100%;

  img {
    width: 32px;
  }
}

.svg {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.icon-path {
  transition: opacity 150ms ease-out;
  opacity: 0;
  display: flex;
  gap: 8px;

  kd-card:hover & {
    opacity: 1;
  }
}

.copy-code {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  svg {
    display: block;
  }
}
